body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  background-color: #fff;
  margin: 2.5rem auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main section*/
.main_content_section {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}
.about_me_section,
.my_projects_section,
.my_certificates_section,
.my_education_expiriens_section {
  margin-bottom: 0.25rem;
}
.about_me_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fb6d3a;
  margin-bottom: 1.25rem;
}
.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
  color: black;
  margin-bottom: 1.5rem;
}
.about_me_text {
  text-align: left;
  line-height: 1.5rem;
  color: #595959;
}
.main-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}
.my_projects_list,
.my_certificates_list {
  padding: 0 0 0 17px;
}
.my_projects_item,
.my_certificates_item {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.my_projects_link,
.my_certificates_link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.my_projects_text,
.my_certificates_text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 7px;
}
.breket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}


.education_expiriens_color {
  text-transform: uppercase;
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.education_expiriens_title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin: 0 0 10px 0;
}
.education_expiriens_time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.education_expiriens_dif {
  color: black;
}
.education_expiriens_list {
  padding-left: 18px;
  color: #595959;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.education_expiriens {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.education_expiriens_block {
  margin: 0 15px 0 0;
}
.my_education_department {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.my_education_time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.my_education_dif {
  color: black;
}
/* Sidebar */
.sidebar-section {
  background-color: #1e2939;
  width: 24rem;
  padding: 4rem 0;
}
.contacts-section,
.tech-skill-section,
.soft-skill-section {
  margin: 2rem 0 0 2rem;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}
/* Sidebar Contacts section*/
.photo {
  width: 24rem;
  height: 20rem;
  object-fit: cover;
}
.contacts-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 8px;
}
.contacts-link {
  color: #8e949c;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.list {
  padding: 0 0 0 17px;
}
.skill-item {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.skill-item-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
a:hover,
a:active {
  color: #fb6d3a;
}
@media (min-width: 78.125rem) {
  .about_me_text {
    width: 40rem;
  }
  .main-conteiner {
    width: 75rem;
  }
}

@media (max-width: 50rem) {
  .main-conteiner{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .sidebar-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photo {
    width: 100%;
}
}
